* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body {
    background-image: url("./assets/PlanoFundo.jpg");

    display: grid;
    height: 100vh;
    place-items: center;
}

:root {
    --button-border-color: rgb(190, 190, 190);
    --button-border-color-hover: rgb(161, 161, 161);
}

header, .char, .row, .dice, .dice_result {
    display: flex;
}

header, .dice {
    gap: 25px;
}

button {
    padding: 15px;

    font-size: 20px;
    font-weight: bold;

    border: 1px solid var(--button-border-color);
    border-radius: 7px;

    color: white;
    background: none;

    cursor: pointer;
}

button:hover {
    background-color: var(--button-border-color-hover);
}

.container {
    padding: 15px 30px;

    border: 1px solid var(--button-border-color);
    border-radius: 7px;
    
    backdrop-filter: blur(15px);
}

.char {
    margin: 30px 0px;

    font-size: 20px;

    color: white;

    flex-direction: column;
    gap: 15px;
}

.row {
    justify-content: space-between;
}

.row > p, .row > button {
    padding: 0;
}

.row > button {
    border: none;

    width: 50px;
}

.dice {
    margin: 30px 0px;

    justify-content: space-between;
}

.dice > select {
    width: 100%;
    padding: 10px 20px;

    font-size: 20px;
    text-align: center;

    background: none;
    color: white;

    border: 1px solid var(--button-border-color);
    border-radius: 7px;
}

select > option, .dice_result {
    font-family: "Asar", serif;
}

select > option {
    color: black;

    place-items: center;
}

.dice_result {
    margin: 0;

    font-size: 20px;

    color: white;

    justify-content: center;
}

.hide {
    display: none;
}